<ion-modal [isOpen]="isOpen">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>
          {{ detailedPrices[0]?.date | date }} prices
        </ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="handleCloseButton()">Close</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list lines="none">
        <ion-grid>
          <ion-spinner name="crescent" *ngIf="isLoading"></ion-spinner>
          <p class="error-message" style="margin-top: 20px;" *ngIf="existsDetailError">
            An error
            occurred while loading data, and there is not previous saved information</p>
          <ion-row *ngIf="!isLoading">
            <ion-col size="8" offset="2" *ngFor="let price of detailedPrices">
              <ion-card>
                <app-price-list-item [price]="price" variant="secondary"></app-price-list-item>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-modal>
