<ion-content>
  <ion-list lines="none">
    <ion-list-header lines="inset">
      <ion-label color="white">
        <h1>Last 2 weeks bitcoin prices</h1>
      </ion-label>
    </ion-list-header>
    <ion-grid>
      <ion-row>
        <ion-col size="6" *ngFor="let price of listOfPrices">
          <ion-card (click)="handlePriceClick(price)">
            <app-price-list-item [price]="price"></app-price-list-item>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
  <app-modal [isOpen]=" isModalOpen" (handleClose)="closeModal()" [detailedPrices]="listOfDetailedPrices">
  </app-modal>
</ion-content>
