<ion-content>
  <ion-list lines="none">
    <ion-list-header lines="inset">
      <ion-label color="white">
        <h1>Bitcoin prices for the last 2 weeks</h1>
      </ion-label>
    </ion-list-header>
    <ion-grid>
      <ion-spinner name="crescent" *ngIf="isLoading"></ion-spinner>
      <p class="error-message" style="margin-top: 20px;" *ngIf="existsError">
        An error
        occurred while loading data, we will try to show you last consulted information</p>
      <ion-row *ngIf="!isLoading">
        <ion-col size="6" *ngFor="let price of listOfPrices">
          <ion-card (click)="handlePriceClick(price)">
            <app-price-list-item [price]="price"></app-price-list-item>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
  <app-modal [isOpen]="isModalOpen" (handleClose)="closeModal()" [detailedPrices]="listOfDetailedPrices"
    [isLoading]="isModalDataLoading" [existsDetailError]="existsDetailError">
  </app-modal>
</ion-content>
